
body {
    background-color: #ff990094;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 20px 0;
}

.container:first-of-type {
    height: 50vh;
    min-height: 300px;
}

/* Button styles */
button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #690000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background-color: #ff0000a5;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.image-container {
    height: 50vh;
    min-height: 300px;
}

.buttons-container {
    min-height: auto;
    text-align: center;
    padding: 20px;
}

.image {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    font-family: 'Brush Script MT', Times, serif;
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
}

h2 {
    text-align: center;
    font-family: 'Time New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
}